* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR';
	letter-spacing: -0.5px;
}

.mt-0 {
	margin-top: 0 !important;
}
.mt-10 {
	margin-top: 10px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.pd-0-20-30-20 {
	padding: 0 20px 30px 20px !important;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul, li {
	list-style: none;
}

.fixed {
	height: 100%;
	overflow: hidden;
}

.list-dot li {
	position: relative;
	padding-left: 8px;
}

.list-dot li::before {
	content: "·";
	position: absolute;
	top: 0;
	left: 0;
}

.bt1 {
	position: relative;
	display: inline-block;
	padding: 10px 24px;
	background: #000;
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
}

.bt1::before,
.bt1::after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
}

.bt1::before {
	top: 0;
	left: 0;
	border-width: 10px 10px 0 0;
	border-color: #fff transparent transparent transparent;
}


.bt1::after {
	right: 0;
	bottom: 0;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #fff transparent;
}

.video-wrap iframe {
	width: 100%;
}

.text-wrap {
    line-height: 140%;
    font-size: 1.4rem;
    font-weight: 300;
}

.tab-wrap {
	font-size: 0;
}

.tab-wrap a {
	display: inline-block;
	margin-right: 5px;
	padding: 8px 10px;
	border-radius: 10px;
	background: #eee;
	font-size: 1.4rem;
}

.tab-wrap a.on {
	background: #7355ed;
	font-weight: 600;
	color: #fff;
}

.toptitle strong {
	display: block;
	margin: 30px 0 10px 0;
	font-size: 2.8rem;
}

.subtitle {
	margin: 30px 0 12px 0;
	font-size: 2rem;
}

.tbl-wrap table {
	border-collapse: collapse;
	word-break: keep-all;
}

.tbl-wrap tbody tr {
	border-bottom: 1px solid #ddd;
}

.tbl-wrap table {
	width: 100%;
}

.tbl-wrap th,
.tbl-wrap td {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 300;
}

.tbl-wrap th {
	background: #eee;
	font-weight: 400;
}

.tbl-wrap td .small {
	font-size: 1rem;
}

html {
	font-size: 10px;
}

body {
	background: #eee;
}

#wrap {
	width: 100%;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	background: #fff;
}

#header-wrap {
	position: relative;
	padding: 24px 20px 20px 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

#header-wrap h1 {
	line-height: 100%;
}

#header-wrap h1 img {
	height: 70px;
}

#nav-wrap .bt-nav {
	position: absolute;
	top: 48px;
	right: 20px;
	width: 20px;
	height: 16px;
	background: transparent;
	border: 0;
	cursor: pointer;
	z-index: 4;
}

#nav-wrap .bt-nav span {
	position: absolute;
	left: 0;
	display: block;
	width: 20px;
	height: 4px;
	border-radius: 4px;
	background: #7355ed;
	transition: 0.5s;
	text-indent: -10000px;
	overflow: hidden;
}

#nav-wrap .bt-nav span.top {
	top: 0;
}

#nav-wrap .bt-nav span.bottom {
	bottom: 0;
}

#nav-wrap .bt-nav.open span {
	background: #fff;
}

#nav-wrap .bt-nav.open span.top {
	top: 6px;
	transform: rotate(45deg);
}

#nav-wrap .bt-nav.open span.bottom {
	bottom: 6px;
	transform: rotate(-45deg);
}

#nav-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0, 0, 0, 0.5);
}

#nav-layer .top {
	max-width: 800px;
	height: 116px;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 26px;
	box-sizing: border-box;
	background: #7355ed;
}

#nav-layer .logo {
	display: block;
	height: 70px;
}

#nav-layer .logo img {
	height: 70px;
}

#nav-layer .menu-list {
	width: 100%;
	max-width: 800px;
	height: calc(100% - 116px);
	margin: 0 auto;
	background: #fff;
}

#nav-layer .menu-list a {
	display: block;
	padding: 16px;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	border-bottom: 1px solid #ddd;
}

#footer-wrap {
	padding: 20px;
	background: #eee;
	border-top: 1px solid #ddd;
}

#footer-wrap p,
#footer-wrap li {
	font-size: 1.2rem;
	font-weight: 100;
	color: #333;
}

#footer-wrap li {
	display: inline-block;
	margin-right: 10px;
}

#fixed-menu {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 2;
}

#fixed-menu a {
	display: block;
	width: 80px;
	height: 80px;
	padding-top: 16px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 200px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

#fixed-menu a img {
	display: block;
	width: 24px;
	margin: 0 auto 2px auto;
}

#fixed-menu a span {
	font-size: 1.4rem;
	font-weight: 800;
}

#section-articles {
	padding: 50px 40px;
	background: #556ded;
}

#section-articles .title {
	text-align: center;
}		

#section-articles .title strong {
	line-height: 130%;
	font-size: 3.2rem;
	color: #fff;
}

#section-articles .title p {
	margin: 15px 0 25px 0;
	font-size: 1.6rem;
	color: #fff;
}

#section-articles .items .item {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	border-radius: 20px;
	background: #fff;
}

#section-articles .items .item:first-child {
	margin-top: 0;
}

#section-articles .items .item strong {
	line-height: 120%;
	font-size: 2rem;
	word-break: keep-all;
}

#section-articles .items .item p {
	margin: 5px 0;
	line-height: 140%;
	font-size: 1.2rem;
	font-weight: 300;
}

#section-articles .items .item span {
	font-size: 1.2rem;
	font-weight: 300;
	color: #999;
}

#section-articles .items .item a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 1.2rem;
	font-weight: 300;
	color: #999;
}

#section-articles .item a:hover {
	text-decoration: underline;
}

#section-intro {
	padding: 50px 0;
	background: #f5f5f5;
	text-align: center;
}

#section-intro .title strong {
	line-height: 130%;
	font-size: 3.2rem;
}

#section-intro .title p {
	margin: 15px 0 25px 0;
    line-height: 140%;
    font-size: 1.4rem;
    font-weight: 300;
}

#section-intro .items {
	margin-bottom: 30px;
}

#section-intro .items .item {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

#section-intro .items .item:first-child {
	margin-left: 0;
}

#section-intro .items .item img {
	display: block;
	width: 30px;
	margin: 21px auto 10px auto;
}

#section-intro .items .item span {
	font-size: 1.2rem;
}

#section-metaverse {
	padding: 50px 0;
	background: #339;
	text-align: center;
}

#section-metaverse .logo {
	display: block;
	width: 240px;
	margin: 0 auto 30px auto;
}

#section-metaverse .title {
	line-height: normal;
}

#section-metaverse .title span,
#section-metaverse .title b,
#section-metaverse .title i {
	display: block;
	color: #fff;
	font-style: normal;
}

#section-metaverse .title span {
	font-size: 2rem;
	font-weight: 300;
}

#section-metaverse .title b {
	margin-top: -3px;
	font-size: 2.4rem;
	font-weight: 500;
}

#section-metaverse .title strong {
	display: block;
	margin-top: -1px;
	font-size: 6rem;
	color: #ffcc00;
}

#section-metaverse .title i {
	margin-top: -8px;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-metaverse .box {
	width: 240px;
	margin: 20px auto;
	padding: 16px 30px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	text-align: center;
	font-size: 0;
}

#section-metaverse .box p {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
}

#section-metaverse .box dl {
	display: inline-block;
	width: 45%;
}

#section-metaverse .box dl:nth-child(2),
#section-metaverse .box dl:nth-child(4) {
	margin-right: 5%;
}

#section-metaverse .box dt,
#section-metaverse .box dd {
	display: inline-block;
	width: 50%;
	font-size: 1.4rem;
	color: #fff;
}

#section-metaverse .box dt {
	font-weight: 100;
}

#section-metaverse .text {
	line-height: 160%;
    font-size: 1.4rem;
    font-weight: 300;
	color: #fff;
}


#section-curriculum .item {
	padding-top: 50px;
	text-align: center;
}

#section-curriculum .item .title {
	margin-bottom: 20px;
}

#section-curriculum .item .title span {
	font-size: 2rem;
	font-weight: 300;
}

#section-curriculum .item .title strong {
	display: block;
	font-size: 3.6rem;
}

#section-curriculum .item .logo {
	margin-bottom: 20px;
}

#section-curriculum .item1 .logo {
	width: 160px;
}

#section-curriculum .item2 .logo {
	width: 90px;
}

#section-curriculum .item p {
	line-height: 140%;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-curriculum .item1 p {
	margin-bottom: 50px;
}

#section-curriculum .item2 .icons {
	margin: 30px 0 50px 0;
}

#section-curriculum .item2 .icons .icon {
	display: inline-block;
	margin-left: 16px;
}

#section-curriculum .item2 .icons .icon:first-child {
	margin-left: 0;
}

#section-curriculum .item2 .icons .icon img {
	display: block;
	width: 30px;
	margin: 0 auto 6px auto;
}

#section-curriculum .item2 .icons .icon span {
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: -1px;
}

#section-introduce {
	padding: 50px 0;
	text-align: center;
}

#section-introduce strong {
	display: block;
	font-size: 3.6rem;
}

#section-introduce p {
	margin: 10px 0 30px 0;
	line-height: 140%;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-introduce .item1 .logos .logo {
	display: inline-block;
	width: 30%;
	margin-top: 20px;
	vertical-align: top;
}

#section-introduce .item1 .logos .logo:nth-child(-n+3) {
	margin-top: 0;
}

#section-introduce .item1 .logos img {
	display: block;
	margin: 0 auto 6px;
	height: 16px;
}

#section-introduce .item1 .logos span {
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: -1px;
	word-break: keep-all;
}

#section-introduce .item2 {
	margin-top: 50px;
	padding-top: 50px;
	border-top: 1px dashed #ddd;
}

#section-introduce .item2 img {
	height: 40px;
}

#section-introduce .item2 .infos {
	margin-top: 30px;
}

#section-introduce .item2 .infos > div {
	position: relative;
	display: inline-block;
	padding: 0 24px;
}

#section-introduce .item2 .infos > div::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	display: block;
	width: 1px;
	height: 12px;
	background: #ddd;
}

#section-introduce .item2 .infos > div:first-child::before {
	display: none;
}

#section-introduce .item2 .infos span {
	display: block;
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: -1px;
}

#section-introduce .item2 .infos b {
	font-size: 1.4rem;
	font-weight: 600;
}

#section-computerclass {
	padding: 50px 0;
	background: #f5f5f5;
	text-align: center;
}

#section-computerclass .title span {
	font-size: 2rem;
	font-weight: 400;
}

#section-computerclass .title strong {
	display: block;
	font-size: 3.6rem;
}

#section-computerclass .title p {
	margin: 20px 0 30px 0;
	line-height: 140%;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-computerclass .icons {
	margin-bottom: 30px;
}

#section-computerclass .icons .icon {
	display: inline-block;
	margin-left: 20px;
}

#section-computerclass .icons .icon:first-child {
	margin-left: 0;
}

#section-computerclass .icons .icon img {
	display: block;
	width: 50px;
	margin-bottom: 6px;
}

#section-computerclass .icons .icon span {
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: -1px;
}

#section-math {
	padding: 50px 0;
	text-align: center;
}

#section-math .title span {
	font-size: 2rem;
    font-weight: 300;
}

#section-math .title strong {
	display: block;
    font-size: 3.6rem;
}

#section-math img {
	display: block;
	width: 120px;
	margin: 20px auto;
}

#section-math p {
	margin-bottom: 30px;
	line-height: 140%;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-location {
	position: relative;
	width: 100%;
	padding: 50px 0 260px 0;
	background: #f5f5f5;
	text-align: center;
	overflow: hidden;
}

#section-location .title {
	font-size: 3.6rem;
}

#section-location p {
	margin: 10px 0 30px 0;
	line-height: 140%;
	font-size: 1.4rem;
	font-weight: 300;
}

#section-location .map-wrap {
	position: absolute;
	top: 202px;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	border-bottom: 1px solid #ccc;
}

#section-location .wrap_controllers {
	display: none;
}

/***** 커리큘럼 자세히 보기 *****/

#math-curriculum-wrap .text-wrap {
	word-break: keep-all;
}

.bt-tel {
	font-size: 2rem;
	font-weight: 600;
}

.bt-kakao img {
	width: 60px;
}

#coding-curriculum2-wrap .item {
	margin-top: 30px;
}

#coding-curriculum2-wrap .item:first-child {
	margin-top: 0;
}

#coding-curriculum2-wrap .item .level {
	position: relative;
	width: 70px;
	padding: 4px 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
}

#coding-curriculum2-wrap .item1 .level {
	background: #ffc602;
}

#coding-curriculum2-wrap .item2 .level {
	background: #00d674;
}

#coding-curriculum2-wrap .item3 .level {
	background: #2e96fb;
}

#coding-curriculum2-wrap .item4 .level {
	background: #7355ed;
}

#coding-curriculum2-wrap .item .cont {
	padding: 30px 20px;
	border-radius: 0 20px 20px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#coding-curriculum2-wrap .item .cont img {
	display: block;
	margin: 0 auto 20px auto;
}

#coding-curriculum2-wrap .logo-entry {
	height: 30px;
}

#coding-curriculum2-wrap .logo-cos,
#coding-curriculum2-wrap .logo-cospro {
	height: 40px;
}

#coding-curriculum2-wrap .logo-roblox {
	height: 36px;
}

#coding-curriculum2-wrap .logo-metaverse {
	height: 24px;
}

#coding-curriculum2-wrap .logo-codealive {
	height: 28px;
}

#coding-curriculum2-wrap .item .cont p {
	margin-bottom: 20px;
}

#coding-curriculum2-wrap .item .cont p b {
	display: block;
	font-weight: 500;
}

#coding-curriculum2-wrap .item1 .cont p span {
	background: rgba(241, 199, 66, 0.35);
}

#coding-curriculum2-wrap .item2 .cont p span {
	background: rgba(113, 210, 125, 0.35);
}

#coding-curriculum2-wrap .item3 .cont p span {
	background: rgba(93, 150, 245, 0.3);
}

#coding-curriculum2-wrap .item4 .cont p span {
	background: rgba(112, 90, 229, 0.3);
}

#coding-curriculum2-wrap .item .cont a {
	display: block;
	width: 90px;
	margin: 0 auto;
	padding: 5px 0;
	background: #eee;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 300;
}