<head>
    <meta charset="UTF-8">
    <title>렛츠코딩앤플레이</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="Title" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta name="Description" content="여기 맞아요. 쉽게 잘 가르치는 곳." />
    <meta name="Keywords" content="코딩, 코딩교육, 코딩앤플레이, 코드얼라이브, 코딩대회, 전주, 전북, 혁신도시, 컴퓨터학원, 한글, 엑셀, 파워포인트, 윈도우, 영상편집, 유튜브" />
    <meta name="Author" content="렛츠코딩앤플레이 컴퓨터학원" />
    
    <!-- twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@WEBSITE" />
    <meta name="twitter:title" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta name="twitter:description" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta name="twitter:url" content="http://letscoding.kr" />
    <meta name="twitter:image" content="http://letscoding.kr/img/og.png" />
    
    <!-- opengraph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta property="og:title" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta property="og:description" content="렛츠코딩앤플레이 컴퓨터학원" />
    <meta property="og:image" content="http://letscoding.kr/img/og.png" />
    <meta property="og:url" content="http://letscoding.kr/" />
    
    <!-- robot -->
    <meta name="robots" content="index, follow" />
    <meta name="naver-site-verification" content="8b307ccb8e487ffb4164e8ae59e67d0ffb0990e1" />
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3QXDXQ5HFW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-3QXDXQ5HFW');
    </script>
</head>